
body {
  background-color: #f5edd0;
}
/* header style */
header {
  background-color: #f5edd0;
  padding: 20px;
  border-bottom-style: solid;
  border-color: #9e1c0f;
  border-width: 5px;
}

/* h1 in header style*/
.header {
  color: #005470;
  font-family: 'Oswald', sans-serif;
  margin-bottom: -10px;
}

/*p in header style*/
.kicker {
  color: #9e1c0f;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 24px;
}

.ismaLogo {
  position: absolute;
  width: 90px;
  height: 90px;
  padding: 20px;
  right: 400px;
  top: 70px;
  align-content: center;
}

.ismaLogo img {
  width: 220%;
}

.lodge2logo {
  position: absolute;
  width: 90px;
  height: 90px;
  padding: 20px;
  right: 200px;
  top: 70px;
  align-content: center;
}

.lodge2logo img {
  width: 200%;
}

/*homepage intro style*/
main {
  background-image: url(images/Oberstar5.jpg);
  background-repeat: no-repeat;
  height: 600px;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

/*navbar*/
ul {
  list-style-type: none; /*removes bullets*/
  padding: 8px;
  margin: 0px;
  overflow: visible;
}

/*items in navbar*/
li {
  display: inline; /*displays all list items on one line*/
  font-family: 'Oswald', sans-serif;
  font-size: 22px; 
}

<<<<<<< HEAD
nav a {
=======
/*links in navbar*/
li a {
>>>>>>> 7b7b1012cb05f6c6fbe79a63378bb154940cfa71
  padding: 8px;
  text-decoration: none;
}

/*navbar psuedo-classes*/
li a:link {
  color: #9e1c0f;
}

nav a:visited {
  color: #9e1c0f;
}

nav a:hover {
  color: #bdd9d6;
}

nav a:active {
  color: #9e1c0f;
}

/*center text in intro on homepage*/
.introContainer {
  margin-top: 120px;
  margin-bottom: 100px;
  margin-right: 480px;
  margin-left: 330px;
  width: 60%;
  height: 40%;
  text-align: center;
}

/* h1 in header*/
h1 {
  font-family: 'Oswald', sans-serif;
}

/*h2 in intro on homepage*/
.introContainer h2 {
  color: white;
  text-align: center; 
  font-family: 'Oswald', sans-serif;
  text-transform: uppercase;
  font-size: 100px;
  margin: -15px;
  width: 100%;
}

/* p styling on homepage intro*/
.introContainer p {
  text-align: left;
  font-family: Georgia, 'Times New Roman', Times, serif;
  color: #9e1c0f;
  margin-top: 85px;
  font-size: 24px;
  margin-bottom: -20px;
  text-transform: uppercase;
}

section {
  background-color: #f5edd0;
}

.sectionHeader {
  background-color: white;
  color: #005470; 
  font-family: 'Oswald', sans-serif;
  text-transform: uppercase;
  font-size: 60px;
  text-align: center;
}

/*container holding image*/
.prizeContainer {
  position: relative;
  align-content: center;
  display: inline-block;
  padding-bottom: 60px;
  text-align: center;
}

/* prize title text block over image */
.prizeTitle {
  position: absolute;
  top: 55px;
  left: 300px;
  padding-left: 40px;
}

/*prize title*/
.prizeTitle h3 {
  font-family: Georgia, 'Times New Roman', Times, serif;
  text-transform: uppercase;
  color: white;
  font-size: 52px;
}
/*prize info text block over image*/
.prizeInfo {
  position: absolute;
  bottom: 130px;
  left: 325px;
}

/*prize info*/
.prizeInfo p {
  font-family: Georgia, 'Times New Roman', Times, serif;
  color: white;
  font-size: 24px;
}

/*image in container*/
.prizeContainer img {
  border-style: solid;
  border-color: white;
  border-width: 50px;
  width: 60%;
  align-self: center;
}

article {
  background-color: #9e1c0f;
  padding: 30px;
}

article h4 {
  font-family: 'Oswald', sans-serif;
  color: white;
  font-size: 32px;
}

.button {
  background-color: #005470;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  font-size: 16px;
  font-family: Georgia, 'Times New Roman', Times, serif;
  display: inline-block;
  cursor: pointer;
  text-decoration: none;
}

article a:link {
  color: white;
}

article a:visited {
  color: white;
}

article a:hover {
  color: #bdd9d6
}

article a:active {
  color: white
}

.articleContainer {
  text-align: center;
  padding-bottom: 20px;
}

.footer {
  background-color: white;
  text-align: right;
  padding: 10px;
}

.footer p {
  font-family: 'Roboto Condensed',sans-serif;
  color: #005470
}

.reference {
  text-align: center;
  padding: 10px;

}

.galleryContainer {
  padding-top: 60px;
  text-align: center;
}
.gallery {
  margin: 5px;
  border: 2px solid #005470;
  width: 180px;
  text-align: center;
}

.gallery:hover {
  border: 2px solid #bdd9d6;
}

.gallery img {
  width: 100%;
  height: auto;
}

.desc {
  padding: 15px;
  text-align: center;
  font-family: 'Roboto Condensed', sans-serif;
  color: #9e1c0f;
}

/*prize details container*/
.detailsContainer {
  background-color: white;
  padding: 30px;
  margin: 30px;
}

.detailsContainer h3 {
  font-family: Georgia, 'Times New Roman', Times, serif;
  text-transform: uppercase;
  color: #9e1c0f;
}

.detailsContainer p {
  font-family: 'Roboto Condensed', sans-serif;
}